 .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(dishang.jpeg);
    z-index: -1;
    filter: blur(20px);
 }
 .shang img {
   width: 20%;
   height: 20%;
 }